<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        編集ページ
      </h1>
    </div>
  </div>
</section>

<% if @article.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_with model: @article, local: true do |f| %>
          <div class="field">
            <%= f.label :title, "レシピ名", class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :image, "写真", class: "label" %>
            <%= f.attachment_field :image, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :postal_code, "郵便番号", class: "label" %><br>
            <%= f.text_field :postal_code, autocomplete: "postal_code", id: "article_postal_code" %>
          </div>

          <div class="field">
            <%= f.label :prefecture_code, "都道府県", class: "label" %><br>
            <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all,  :name, :name, autocomplete: "prefecture_code", id: "article_prefecture_code" %>
          </div>

          <div class="field">
            <%= f.label :city, "ご住所１（市区町村）", class: "label" %><br>
            <%= f.text_field :city, autocomplete: "city", id: "article_city"  %>
          </div>

          <div class="field">
            <%= f.label :street, "ご住所２（町名、番地）", class: "label" %><br>
            <%= f.text_field :street, autocomplete: "street", id: "article_street"  %>
          </div>

          <div class="field">
            <%= f.label :other_address, "その他", class: "label" %><br>
            <%= f.text_field :other_address, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :telephone_number, "電話番号", class: "label" %>
            <%= f.text_field :telephone_number, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :url, "ホームページ", class: "label" %>
            <%= f.text_field :url, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :introduction, "補足", class: "label" %>
            <%= f.text_area :introduction, class: "textarea" %>
          </div>

          <%= f.submit '投稿', class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
