<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ♨️施設を登録しよう♨️
      </h1>
    </div>
  </div>
</section>


<% if @article.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_with model: @article, local: true do |f| %>
          <div class="field">
            <%= f.label :title, "施設名", class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :image, "写真", class: "label" %>
            <%= f.attachment_field :image, id: "image", class: "input" %>
            <div class="item-image" >
              <%= attachment_image_tag @article, :image, class: "card img-square", fallback: "no_image.png", size: "300x200" %>
            </div>
          </div>
          <script>
          $(function() {
             $('#image').on('change', function() {   //id = "image"の部分に変化があった場合、発火します
               var selectedFile = this.files[0];     //selectedFileに、選択された画像を格納しますよと宣言しています
               var fileReader = new FileReader();    //FileReaderを起動

               fileReader.onload = function(event) {    //画像ファイルが文字列に変換成功したらイベントが発火
                 var loadedImageUri = event.target.result; //loadedImageUriに、文字列化した画像ファイルを格納
                  $('.img-square').attr('src', loadedImageUri); //no_imageの画像が表示されてますが、これを選択した画像に非同期で切り替える
               };
                                   
               fileReader.readAsDataURL(selectedFile);  //HTML上で画像を表示するには画像を文字列に変換する必要があるため
             });                                        //selectedFile(選択された画像)を base64 文字列に変換
          });
          </script>

          <div class="field">
            <%= f.label :postal_code, "郵便番号", class: "label" %><br>
            <%= f.text_field :postal_code, autocomplete: "postal_code", id: "article_postal_code" %>
          </div>

          <div class="field">
            <%= f.label :prefecture_code, "都道府県", class: "label" %><br>
            <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all,  :name, :name, autocomplete: "prefecture_code", id: "article_prefecture_code" %>
          </div>

          <div class="field">
            <%= f.label :city, "ご住所１（市区町村）", class: "label" %><br>
            <%= f.text_field :city, autocomplete: "city", id: "article_city"  %>
          </div>

          <div class="field">
            <%= f.label :street, "ご住所２（町名、番地）", class: "label" %><br>
            <%= f.text_field :street, autocomplete: "street", id: "article_street"  %>
          </div>

          <div class="field">
            <%= f.label :other_address, "その他", class: "label" %><br>
            <%= f.text_field :other_address, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :telephone_number, "電話番号", class: "label" %>
            <%= f.text_field :telephone_number, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :url, "ホームページ", class: "label" %>
            <%= f.text_field :url, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :introduction, "補足", class: "label" %>
            <%= f.text_area :introduction, class: "textarea" %>
          </div>

          <%= f.submit '投稿', class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
