<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ♨️施設詳細♨️
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @article, :image, fallback: "no-image_article.jpeg" %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <h4>施設名</h4>
                <p class="title is-4"><%= @article.title %></p>
              </div>
              <!-- いいね機能 Ajax -->
              <div id="favorites_buttons_<%= @article.id %>">
                <%= render partial: 'favorites/favorite', locals: { article: @article} %>
              </div>
              <!--ここまで -->
            </div>
            <div class="media">
              <div class="media-content">
                <h4>住所</h4>
                <p class="title is-4">〒<%=@article.postal_code %> <br>
                <%= @article.address %></p>
              </div>
            </div>
            <div class="media">
              <div class="media-content">
                <h4>電話番号</h4>
                <p class="title is-4"><%= @article.telephone_number %></p>
              </div>
            </div>
            <div class="media">
              <div class="media-content">
                ホームページ
                <p class="title is-4"><%= raw Rinku.auto_link(h(@article.url)) %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>補足</th>
                </tr>
                <tr>
                  <td><%= simple_format @article.introduction %></td>
                </tr>
              </table>
              <% if user_signed_in? %>
              <% if @article.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_article_path(@article), class: "button is-success" %>
              <% end %>
              <% end %>
            </div>
            <div class="card-content">
              <div class="content average-score">
                <div class="star-rating mb-2">
                 <div class="star-rating-front" style="width: <%= @article.review_score_percentage %>%">★★★★★</div>
                 <div class="star-rating-back">★★★★★</div>
                </div>
                <div class="average-score-display ml-3 pt-2">
                  <%= @article.avg_score %>点（<%= @article.reviews.count %>件のレビュー）
                </div>
              </div>
              <%= render 'reviews/form', review: @review, article: @article %>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<section class='map section'>
  <div class='map container'>
    <div class='columns is-centered'>
      <div class='column is-7'>
              <div id="map"></div>


      <script>
      let map;

      function initMap() {
      // geocoderを初期化
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
        // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
        center: {
          lat: gon.article.latitude,
          lng: gon.article.longitude
        },
        // マップの倍率はお好みで
        zoom: 17,
      });

      marker = new google.maps.Marker({
        // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
        position: {
          lat: gon.article.latitude,
          lng: gon.article.longitude
        },
        map: map
      });
     }
     </script>

     <script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap">
     </script>
      </div>
    </div>
  </div>
</section>
