<!DOCTYPE html>
<html>
  <head>
    <title>I LOVE ♨ゆ♨️️</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <script src="https://kit.fontawesome.com/9856eee726.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="footerFixed">
      <div class="container-fluid">
        <div class="main-content">
        <%= render 'partial/navbar' %>
          <%= render 'partial/flash' %>
        <%= yield %>
        </div>
      </div>
      <%= render 'partial/footer' %>
    </div>
  </body>
</html>
